<div class="card mb-3 movie-item" id="<%= "movie-item-#{dom_id(movie)}" %>">
  <div class="row g-0">
    <div class="col-md-4">
      <%= movie.embed_code&.html_safe %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <h5 class="card-title">
              <%= movie.title %>
            </h5>
            <p class="card-text">Shared by: <%= movie.user&.username %></p>
            <span>
              <%= movie.count_vote_up %>
              <i class="bi bi-hand-thumbs-up"></i>
            </span>
            <span>
              <%= movie.count_vote_down %>
              <i class="bi bi-hand-thumbs-down"></i>
            </span>
          </div>

          <%= render partial: "movies/vote", locals: { movie: movie } %>

        </div>
        <div class="row">
          <p>Description:</p>
          <p class="card-text"><%= movie.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
